@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: -8px;
  padding: 0;
  scroll-behavior: smooth;
  

}